arrow
backcall
cycler
debugpy
decorator
entrypoints
ipykernel
ipython
ipython-genutils
jedi
Jinja2
jinja2-time
joblib
jupyter-client
jupyter-core
kiwisolver
make
MarkupSafe
matplotlib
matplotlib-inline
nest-asyncio
numpy
nbformat>=4.2.0
pandas
parso
pexpect
pickleshare
Pillow
plotly
prompt-toolkit
ptyprocess
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
scikit-learn
scipy
seaborn
six
sklearn
threadpoolctl
tornado
traitlets
wcwidth
